body{
    background-color: #3d3834;
        .container{
            background-color: #1e1e1e;
            max-width: 1400px;
            width: 100%;
            color: #fff;
            margin: 0 auto;
            .main-header{
                .wrapper{
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    h1{
                        color: #ffffff;
                        font-family: "Montserrat - Black", arial;
                        font-size: 103px;
                        font-weight: 800;
                        line-height: 81.27px;
                        text-transform: uppercase;
                        text-align: center;
                        margin-bottom: 18.6%;
                    }
                    h2{
                        color: #be943e;
                        font-family: 'Montserrat';
                        font-size: 30px;
                        font-weight: 700;
                        text-align: center;
                        width: 77%;
                        margin-right: auto;
                        margin-left: auto;
                        margin-bottom: 2%;
                        &::after {
                            content: "";
                            display: block;
                            width: 536px;
                            height: 3px;
                            background-color: #ffffff;
                        }
                    } 
                }
            }
            .method{
               margin-top: 11%;
                .wrapper{
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    img{
                        text-align: center;
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 5%;
                    }
                    .method-text{
                        width: 567px;
                        height: 126px;
                        margin: 0 auto;
                        margin-bottom: 6.25%;
                        p{
                        
                            color: #ffffff;
                            font-family: 'Montserrat';
                            font-size: 15.4px;
                            font-weight: 300;
                            line-height: 22.02px;
                            text-align: justify;
                            margin-bottom: 3%;
                        }
                    }
                    
                }
            }
            .question{
                height: 800px;
                .wrapper{
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    img{
                        width: 958px;
                        height: 638px;
                        position: absolute;
                    }
                    .question-text{
                        width: 804px;
                        height: 103px;
                        background-color: #be943e;
                        position: relative;
                        top: 50px;
                        left: 49%;
                        h6{
                            color: #1e1e1e;
                            font-family: 'Montserrat Black', arial;
                            font-size: 30px;
                            font-weight: 800;
                            line-height: 103px;
                            text-align: center;
                        }
                    }
                 
                    p{  
                        position: relative;
                        width: 368px;
                        height: 220px;
                        color: #ffffff;
                        font-family: 'Montserrat';
                        font-size: 20.9px;
                        font-weight: 400;
                        top: 199px;
                        text-align: justify;
                        left: 783px;
                        line-height: 28px;
                    }
                }
                &::after{
                    clear: both;
                }
            }
            .materials{
                margin-top: 10%;
                margin-bottom: 13.3%;
                height: 800px;
                .wrapper{
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    .materials-left{
                        float: left;
                        width: 562px;
                        p{
                            text-align: justify;
                            color: #ffffff;
                            font-family: 'Montserrat', arial;
                            font-size: 15.3px;
                            font-weight: 300;
                            line-height: 22.04px;
                            span{
                                font-weight: 800;
                            }    
                        }
                        img{
                            margin: 49px auto;
                            text-align: center;
                            display: block;
                        }
                    }
                    .materials-right{
                        float: left;
                        margin-left: 12.9%;
                        margin-top: 5%;
                    }
                }
            }
            .zalety{
                .wrapper{
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    h2{
                        text-align: center;
                        margin: 0 auto;
                        width: 528px;
                        height: 30px;
                        color: #be943e;
                        font-family: 'Montserrat  - Black', arial;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    h6{
                        color: #fefefe;
                        font-family: 'Montserrat', arial;
                        font-size: 22px;
                        font-weight: 700;
                        text-align: center;
                        margin: 0 auto 4%;
                    }
                    img{
                        text-align: center;
                        display: block;
                        margin: 5.75% auto 3% auto;

                    }
                    p{
                        width: 1160px;
                        height: 118px;
                        color: #ffffff;
                        font-family: 'Montserrat', arial;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 22.04px;
                        text-align: center;
                    }
                }
            }
            .three-plus{
                margin-top: 5.58%;
                height: 434px;
                .wrapper{
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    p{
                        width: 307px;
                        color: #ffffff;
                        font-family: 'Montserrat', arial;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 22.04px;
                        text-align: center;
                        margin: 0 auto;
                    }
                    h6{
                        text-align: center;
                        margin: 6.75% auto 6.58% auto;
                        color: #fefefe;
                        font-family: 'Montserrat', arial;
                        font-size: 22px;
                        font-weight: 700;
                    }
                    img{
                        text-align: center;
                        margin: 0 auto;
                        display: block;
                    }
                    .comfort{
                        float: left;
                        width: 33%;
                    }
                    .time{
                        float: left;
                        width: 33%;
                    }
                    .lips{
                        float: left;
                        width: 33%;
                        h6{
                            margin-top: 12.75%;
                        }
                    }
                }
            }
            .invisalign-avatar{
                .wrapper{
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    img{
                        text-align: center;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
}



